*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */


/* nav */
/* header content */



/* header content */
/* news */



/* news */
/* products */
.nike{
    display: flex;
    max-width: 100%;
    background: #FFFFFF;
    
}

.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 200px;
    padding-top: 160px;
}

.left-title{
    display: flex;
    gap: 207px;
}

.tittle{
font-weight: 700;
font-size: 23px;
line-height: 27px;
color: #000000;

}

.price{
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;

}

.left-main{
width: 540px;
height: 239px;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #6A6A6A;
margin-top: 25px;

}

.left-bottom{
    display: flex;
    gap: 30px;
    margin-top: 32px;
}

.view{
background: #DFC900;
border-radius: 3px;
padding: 11px 100px;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #050505;
}

.buy{
    background: #DFC900;
    border-radius: 3px;
    padding: 11px 100px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #050505; 
}

.right{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.images{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}

.second{
    width: 50%;
}

.third{
    width: 50%;
}
/* procuts */
/* krossi */




/* krossi */
/* just */




/* just */
/* express */



/* express */
/* footer */



/* footer */
