*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */
.header__nav{
    
background: #322E41;
padding:  20px 0;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list{
    display: flex;
    align-items: center;
    column-gap: px;
}
.header__nav-link{
    color: #FFFFFF;
    font-size: 16px;
line-height: 19px; 
border-bottom: 2px transparent;
 padding: 28px; 
 transition: 320ms;
 outline: none;
}
.header__nav-link:hover {
    color: #FFE600;
   
    
    border-bottom: 2px solid white;
    
}


/* nav */
/* header content */



/* header content */
/* news */



/* news */
/* products */


/* procuts */
/* krossi */




/* krossi */
/* just */




/* just */
/* express */



/* express */
/* footer */



/* footer */
